<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div id="app">
    <!-- select单选 -->
    <select v-model="fruit">
      <option value="苹果">苹果</option>
      <option value="菠萝">菠萝</option>
      <option value="西瓜">西瓜</option>
    </select>
    <h2>您选择的水果是:{{fruit}}</h2>
    <!-- select多选 -->
    <select v-model="fruits" multiple>
      <option value="苹果">苹果</option>
      <option value="菠萝">菠萝</option>
      <option value="西瓜">西瓜</option>
      <option value="火龙果">火龙果</option>
      <option value="榴莲">榴莲</option>
    </select>
    <h2>您选择的水果是:{{fruits}}</h2>
  </div>
  <script src="./js/vue.js"></script>
  <script>
    let app = new Vue({
      el: '#app',
      data: {
        fruit:'苹果',
        fruits: []
      },
  })
  </script>
</body>
</html>