<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div id="app">
    <!-- 使用v-for遍历数组 -->
    <ul>
      <li v-for="(item, index) in array" :key="index">
        {{item}}
      </li>
    </ul>

    <!-- 使用v-for遍历对象数组 -->
    <ul>
      <li v-for="item in array2" :key="item.id">
        {{item.name}}
      </li>
    </ul>
  </div>
  <script src="./js/vue.js"></script>
  <script>
    let app = new Vue({
      el: '#app',
      data: {
        array: [1,2,3,4,5],
        array2: [
          {
            id: 1,
            name: 'zhangsan'
          },
          {
            id: 2,
            name: 'lisi'
          },
          {
            id: 3,
            name: 'wangwu'
          }
        ]
      },
  })
  </script>
</body>
</html>