<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div id="app">
    <!-- v-model 双向数据绑定 -->
    <!-- 单行文本框 -->
    <input type="text" v-model="message">

    <!-- 多行文本框 -->
    <textarea v-model="message" placeholder="multiple lines"></textarea>
    <h2>输入的值：{{message}}</h2>
  </div>
  <script src="./js/vue.js"></script>
  <script>
    let app = new Vue({
      el: '#app',
      data: {
        message: '123'
      },
  })
  </script>
</body>
</html>