<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div id="app">
    <!-- 1.只有一个checkbox标签 双向数据绑定的值 并不是它的value值 当选中的时候 返回true 取消选中的时候 返回false-->
    <!-- <input type="checkbox" v-model="isAgree">同意
    <h2>您选择是:{{isAgree}}</h2>
    <button :disabled="!isAgree">下一步</button> -->

    <!-- 2.有多个checkbox标签 -->
    <!-- 选择爱好 -->
    <!-- <input type="checkbox" value="篮球" v-model="hobbies">篮球
    <input type="checkbox" value="足球" v-model="hobbies">足球
    <input type="checkbox" value="乒乓球" v-model="hobbies">乒乓球
    <input type="checkbox" value="台球" v-model="hobbies">台球 -->
    

    <!-- 结合我们之前学过v-for 动态绑定 -->
    <label v-for="item in hobbiesData" :for="item">
      <input type="checkbox" :id="item" :value="item" v-model="hobbies">{{item}}
    </label>
    <h2>您选择的爱好是:{{hobbies}}</h2>
  </div>
  <script src="./js/vue.js"></script>
  <script>
    let app = new Vue({
      el: '#app',
      data: {
        isAgree: false,
        hobbies: [],
        hobbiesData: ['篮球','足球','乒乓球','台球','羽毛球']
      },
  })
  </script>
</body>
</html>