<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div id="app">
    名:<input type="text" v-model="firstName">
    姓:<input type="text" v-model="lastName">
    <h2>全名:{{fullName}}</h2>
    <h2>全名:{{fullName2}}</h2>
  </div>
  <script src="./js/vue.js"></script>
  <script>
    let app = new Vue({
      el: '#app',
      data: {
        firstName: 'Lebron',
        lastName: 'James',
        fullName: 'Lebron James'
      },
      // 使用侦听器 
      // 侦听器用来监听data中定义的属性的变化
      watch: {
        // 侦听数据的变化 函数名要和data中定义的属性名保持一致
        // 我们给其定义一个形参val 表示的是firstName当前更新后最新的值 只要数据发生变化 val就会跟着变 化 就会得到最新的值
        firstName(val){
          console.log('事件触发', val);
          // 拼接
          this.fullName = val + ' ' + this.lastName
        },
        lastName(val){
          this.fullName = this.firstName + ' ' + val
        }
      },
      computed: {
        fullName2(){
          return this.firstName + ' ' + this.lastName
        }
      },
  })
  </script>
</body>
</html>